* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --ifm-light-blue: rgb(0, 157, 255);
}

body {
    margin: 0;
    padding: 0;
}

.header-master.service-header {
    background-image: url("../img/background-servicos.jpg");
    background-position-y: 30%;
}

.service-section {
    text-align: center;
    /* border: 1px solid; */
}

.service-area-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-service {
    cursor: pointer;
    transition: all .3s;
    width: 350px;
    background-color: rgb(194, 218, 227);
    border-radius: 10px;
    padding: 20px;
    margin: 2%;
}

.cards-service img {
    background-color: #009dff;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 0;
}

.cards-service h3 {
    transition: .3s;
    font-size: 20px;
}

.cards-service p {
    transition: .3s;
}

.cards-service:hover {
    background-color: #009dff;
    transform: scale(1.03);
}

.cards-service:hover h3 {
    color: white;
}

.cards-service:hover p {
    color: white;
}


.area-indicators {
    padding: 50px;
    margin-top: 50px;
    background-color: rgb(194, 218, 227);
    align-items: center;
}

.indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.indicators div {
    width: 170px;
    margin: 1%;
    text-align: center;
}

.indicators div h3 {
    font-size: 20px;
}

.indicators img {
    background-color: #009dff;
    border-radius: 10px;
    margin-bottom: 5px;
}

.footer#sem-margin-top {
    margin: 0;
}