* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --ifm-light-blue: rgb(0, 157, 255);
}

body {
    margin: 0;
    padding: 0;
}

.about-header{
    background-image: url("../img/background-sobre1.jpg");
    background-position-y: 30%;
}

.header-master-tamb.tamb-about{
    margin-bottom: 230px;
}

.about-section  .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-section .conteiner .about-info{
    width: 50%;
    padding-right: 50px;
}

.about-section .conteiner .about-img{
    width: 50%;
}

.about-section .conteiner .about-img img{
    width: 100%;
    border-radius: 10px;
}


