@media(min-width:425px) and (max-width:670px) {

    .navbar {
        border: 1px solid;
    }
    .navbar a img {
        width: 80%;
    }

    .header-master-tamb#mobile-tamb{
        border: 1px solid;
        margin: 120px 40px;
    }
    
    .header-master-tamb #mobile-title {
        font-size: 60px;
    }


    .conteiner01 .conteiner01-info h2 {
        font-size: 40px;
    }
    .conteiner02 .conteiner02-info h2 {
        font-size: 40px;
    }
    .conteiner03 .conteiner03-info h2 {
        font-size: 40px;
    }

    
    .conteiner01 .conteiner01-img img {
        width: 100%;
    }
    .conteiner02 .conteiner02-img img {
        width: 100%;
    }
    .conteiner03 .conteiner03-img img {
        width: 100%;
    }


    .social-media#mobile-size {
        width: 40px;
    }

}


@media(max-width:870px) {

    /* RESPONSIVO HOME */
    p {
        font-size: 15px;
    }

    section {
        margin: 40px;
    }

    .header-master {
        margin-bottom: 50px;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(16, 83, 228);
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 1s;
        z-index: 2;
    }

    .navigation .navigation-btn {
        margin: 10px 0;
        font-size: 20px;
    }

    .navigation.open-menu {
        clip-path: circle(141.4% at 100% 0);
        transition: 1s;
    }

    .navigation-btn.contact-btn {
        width: 150px;
        padding: 13px 15px;
    }

    .button.button-mobile {
        width: 170px;
        height: 45px;
        font-size: 15px;
    }

    .menu-icon {
        z-index: 1;
        display: block;
    }



    .header-master-tamb {
        margin: 190px 60px;
        text-align: center;
        padding: 0;
    }

    .header-master-tamb h1 {
        font-size: 80px;
    }


    .conteiner01 .conteiner01-info {
        width: 100%;
        margin: 20px 0;
        order: 1;
    }

    .conteiner01 .conteiner01-img {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .conteiner02 {
        margin: 30px 0;
    }

    .conteiner02 .conteiner02-info {
        width: 100%;
        margin: 20px 0;
    }

    .conteiner02 .conteiner02-img {
        text-align: center;
        width: 100%;
    }

    .conteiner03 {
        margin: 30px 0;
    }

    .conteiner03 .conteiner03-info {
        width: 100%;
        margin: 20px 0;
        order: 1;
    }

    .conteiner03 .conteiner03-img {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .section-cards {
        margin: 40px 40px 0 40px;
    }

    .section-cards h1 {
        font-size: 40px;
    }

    .cards-area {
        flex-flow: column wrap;
    }

    .cards {
        width: 100%;
    }

    .section-logos {
        margin: 40px 40px 0 40px;
    }

    .footer {
        padding: 50px;
    }

    .social-media {
        border-radius: 15px;
        width: 45px;
    }

    .social-media.insta {
        padding: 8px;
    }


    /* RESPONSIVO SOBRE */
    .header-master-tamb.tamb-about {
        margin: 190px 60px;
    }

    .about-section .conteiner {
        flex-flow: column wrap;
    }

    .about-section .conteiner .about-info {
        width: 100%;
        margin-top: 30px;
        order: 1;
    }

    .about-section .conteiner .about-img {
        width: 100%;
    }

    .about-section .conteiner .about-img img {
        width: 100%;
        border-radius: 10px;
    }


    /* RESPONSIVO SERVIÇO */
    .header-master-tamb.tamb-service {
        margin: 240px 60px;
    }

    .footer#sem-margin-top {
        margin: 0;
    }


    /* RESPONSIVO CONTATO */
    .header-master-tamb.tamb-contact {
        margin: 190px 60px;
    }

    .container-contact-form {
        flex-flow: column wrap;
    }

    .contact {
        width: 100%;
    }

    .form {
        width: 100%;
        margin-top: 40px;
    }

}

@media(min-width:871px) and (max-width:1024px) {

    /* RESPONSIVO HOME */
    .conteiner01-img img {
        width: 90%;
    }

    .conteiner02-img img {
        width: 90%;
    }

    .conteiner03-img img {
        width: 90%;
    }

    /* RESPONSIVO SOBRE */

    .conteiner {
        flex-flow: column wrap;
    }

    .about-section .conteiner .about-info {
        margin: 0;
        width: 100%;
        margin-top: 30px;
        order: 1;
    }

    .about-section .conteiner .about-img {
        width: 100%;
    }

    .button-mobile {
        width: 180px;
        height: 50px;
        font-size: 15px;
    }

    .footer p {
        font-size: 18px;
    }

    .social-media {
        border-radius: 15px;
        width: 45px;
    }

    .social-media.insta {
        padding: 7px;
    }
}