@media only screen and (max-width: 768px) {
    .header-master {
        width: 900px;
    }

    .navigation-contact {
        width: 20%;
    }

    .navbar {
        width: 100%;
        margin: 0 8% 0 8%;
        padding: 20px 0;
    }



    .service-section {
        margin: 40px 40px 0 40px;
        width: 106%;
        /* border: 1px solid ; */
    }

    .section-info {
        flex: 57%;
        /* border: 1px solid; */
    }

    .section-img {
        flex: 40%;
        /* border: 1px solid; */
    }

    .img-left {
        position: relative;
        left: -40px;
    }

    .section-img img {
        width: 350px;
        height: 250px;
    }



    .section-cards {
        width: 106%;
        margin: 80px 40px 0 40px;
        height: auto;
        text-align: center;
        /* border: 1px solid red; */
    }

    .cards-area {
        width: 100%;
    }

    .cards {
        width: 30%;
        height: 355px;
    }


    .section-logos {
        width: 100%;
        margin: 80px 80px 0 80px;
        text-align: center;
    }

    .logos img {
        width: 24%;
    }

    .section-03 {
        width: 106%;
        margin: 150px 40px 0 40px;
        margin-bottom: 50px;
    }

    .website-seguro-info {
        flex: 60%;
    }

    .website-seguro-img {
        flex: 40%;
    }

    .section-img.website-seguro-img img {
        width: 320px;
        height: 250px;
    }

    .footer{
        width: 900px;
    }
}